.Menu{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    color:black;
    height: 100vh;
}
.link{
    border:2px solid  brown;
    padding: 20px;
    text-decoration: none;

}
.link:hover{
    background: brown;
    color:white;
}